<!DOCTYPE html>

<%- include('../codigo_reutilizavel/head'); %>
    
<body class="container">
        
    <%- include('../codigo_reutilizavel/header', {pagina: 'About'}); %>

        <main>
            <div class="jumbotron">
                <h1>sobre mim</h1>
                <p>meu nome e Eliezer Hurivitz Zeitoune</p>
            </div>
        </main>
        
    <%- include('../codigo_reutilizavel/footer'); %>

</body>
</html>
